name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-fixtures:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [20]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - run: corepack enable
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
        
      - name: Use latest Corepack
        run: |
          npm install -g corepack@latest
          corepack enable
      
      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright
        run: pnpm playwright-core install chromium

      - name: Build (stub)
        run: pnpm dev:prepare
      
      - name: Test (fixtures)
        run: pnpm test
